*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
overflow-x:hidden;
width:100%;
}

body{
font-family:"Noto Serif JP",serif;
background:#121212;
color:#fff;
line-height:2;
letter-spacing:.05em;
overflow-x:hidden;
width:100%;
max-width:100vw;
}

a{
text-decoration:none;
color:inherit;
}

img{
width:100%;
display:block;
object-fit:cover;
}
